1: Experiment with multiplying strings or lists with integers and see what happens. Having seen that ;create a variable    which holds value ‘xyzxyzxyzxyzxyzxyzxyzxyzxyzxyz’

In [2]:
x="xyz" *10
x

'xyzxyzxyzxyzxyzxyzxyzxyzxyzxyz'

 2: Using list comprehension ,list related functions or otherwise, create following list:

   [[1, 2, 3, 4, 5, 6, 7], [1, 4, 9, 16, 25, 36, 49], [1, 8, 27, 64, 125, 216,343]]

In [3]:
x=[]
for j in [1,2,3]:
    x.append([(i+1)**j for i in (range(7))])
x

[[1, 2, 3, 4, 5, 6, 7],
 [1, 4, 9, 16, 25, 36, 49],
 [1, 8, 27, 64, 125, 216, 343]]

3: Write a function which takes input as list and returns a list which contains a sequence of 10 equally spaced numbers between min and max of the string if minimum and maximum value of lists is same then it returns a list with 10 zeroes.
    
   example:
   
   input list : [20, 2, 6, 7, 10]
   
   output list : [2,4,6,8,10,12,14,16,18,20]

In [4]:
input_list=[20, 2, 6, 7, 10]
mn=min(input_list)
mx=max(input_list)

In [5]:
input_list=[20,2,1,4,5,-5]

def my_func1(ml):
    mn=min(input_list)
    mx=max(input_list)
    new_list=[mn]
    if(mn==mx):
            dummy_list=[0]*10
            return(dummy_list)

    else:
            s=(mx-mn)/9
            x=mn
            while(x<mx):
                x=x+s
                new_list.append(round(x,2))
    return(new_list)
my_func1(input_list)

[-5, -2.22, 0.56, 3.33, 6.11, 8.89, 11.67, 14.44, 17.22, 20.0]

4: Show by example how to sort a dictionary by its values

In [6]:
import operator
d= {"actor":"nasir","animal":"dog","earth":1,"list":[1,2,3]}
sorted_d_bykey = sorted(d.items(), key=operator.itemgetter(0))#sorting by key
print(sorted_d_bykey)

[('actor', 'nasir'), ('animal', 'dog'), ('earth', 1), ('list', [1, 2, 3])]

In [7]:
import operator
d= {"actor":"nasir","animal":"dog","earth":1,"list":[1,2,3]}
sorted_d_byvalues = sorted(d.items(), key=operator.itemgetter(1))#sorting by value
print(sorted_d_byvalues)

TypeError: unorderable types: int() < str()

Mixed data type in dictionary cannot be sorted.
Lets see for the list.

In [8]:
l= ['nasir','dog',1,[1,2,3]]
l.sort()
print(l)

TypeError: unorderable types: int() < str()

Mixed data type list cannot be sorted. Now consider a dictionary of same data type.

In [9]:
import operator
d= {"actor":"nasir","animal":"dog","earth":"life","list":"not available"}
sorted_d_byvalues = sorted(d.items(), key=operator.itemgetter(1))
print(sorted_d_byvalues)

[('animal', 'dog'), ('earth', 'life'), ('actor', 'nasir'), ('list', 'not available')]

5: Write a function which takes input 3 dictionaries and returns a new dictionary 

   which has all key value pairs from those three dictionaries

In [10]:
a={"qw":2}
b={"gf":45}
c=a+b

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [11]:
d_1={'india':'New delhi','Bangladesh':'dhaka','Pakistan':'Islamabad'}
d_2={'Malaysia':'Kuala Lumpur','india':34,'South Africa':'Cape Town','Country':'Capital'}
d_3={1:'one',2:'two','float':1.666667,'india':"last"}
new_d={**d_1,**d_2,**d_3}
print(new_d) # ** operator is used to unpack dictionaries

{1: 'one', 2: 'two', 'Country': 'Capital', 'Bangladesh': 'dhaka', 'float': 1.666667, 'Malaysia': 'Kuala Lumpur', 'india': 'last', 'South Africa': 'Cape Town', 'Pakistan': 'Islamabad'}

In [12]:
{**d_1,**d_2}

{'Bangladesh': 'dhaka',
 'Country': 'Capital',
 'Malaysia': 'Kuala Lumpur',
 'Pakistan': 'Islamabad',
 'South Africa': 'Cape Town',
 'india': 34}

we can also use update function to merge two or more dictionaries.

In [13]:
x={}
x.update(d_1)
x.update(d_2)
x.update(d_3)
print(x)

{1: 'one', 2: 'two', 'Country': 'Capital', 'Bangladesh': 'dhaka', 'float': 1.666667, 'Malaysia': 'Kuala Lumpur', 'india': 'last', 'South Africa': 'Cape Town', 'Pakistan': 'Islamabad'}

Although keep in mind ,if dictionaries have the same key, the key of the latter dictionary  will be taken into account.
Lets see

In [14]:

x = {'a': 1, 'b': 2}
y = {'b': 3, 'c': 4} # here we have key 'b' both in x and y
x.update(y)
print(x)# precedence goes to key value pair in latter dictionary

{'c': 4, 'a': 1, 'b': 3}

In [15]:
#For undefined number of arguments
def merge_dicts(*dict_args):
    result = {}
    for dictionary in dict_args:
        result.update(dictionary)
    return result

x = {'a': 1, 'b': 2}
y = {'b': 3, 'c': 4}
z= {"c":4,'india':56}
new_dict=merge_dicts(x,y,z)
print(new_dict)

{'c': 4, 'india': 56, 'a': 1, 'b': 3}

6: Write a function which takes input a string and returns reversed string example

   input : “string”
   
   output : “gnirts”

In [16]:
x='string'
x[::-1] #[begin:end:step]

'gnirts'

In [17]:
x='string'
x=list(x)
x.reverse()
x

['g', 'n', 'i', 'r', 't', 's']

In [18]:
"".join(x)

'gnirts'

7: Consider this dictionary of addresses :

   {“home” : [“Hyderabad”,“Lingampally”,“Ph:1234567890”],

   “office”:[“Maharashtra”,“Mumbai”,“Ghatkopar”,“Ph : 5432167809”,“Pin :400043”],

   “OOI” : [“Singapore”,“Ph : 09876345”]}

   Write a program to extract phone numbers for each location

*For this we use dictionary comprehension*

In [19]:
address={"home" : ["Hyderabad","Lingampally","Ph:1234567890"],
"office":["Maharashtra","Mumbai","Ghatkopar","Ph : 5432167809","Pin :400043"],
"OOI" : ["Singapore","Ph : 09876345"]}
address.items()

dict_items([('home', ['Hyderabad', 'Lingampally', 'Ph:1234567890']), ('OOI', ['Singapore', 'Ph : 09876345']), ('office', ['Maharashtra', 'Mumbai', 'Ghatkopar', 'Ph : 5432167809', 'Pin :400043'])])

In [21]:
address={"home" : ["Hyderabad","Lingampally","Ph:1234567890"],
"office":["Maharashtra","Mumbai","Ghatkopar","Ph : 5432167809","Pin :400043"],
"OOI" : ["Singapore","Ph : 09876345"]}

phones={}

for k,v in address.items():
    temp=[x for x in v if "Ph" in x]
    phones[k]=temp

phones

{'OOI': ['Ph : 09876345'],
 'home': ['Ph:1234567890'],
 'office': ['Ph : 5432167809']}

8: Write a Python function to find the greatest common divisor (gcd) of two integers.

In [22]:
def my_gcd(x,y):
    while(x%y !=0):
        (x,y)=(y,x%y)
    return(y)

my_gcd(33,77)

11

9: Write a function which takes input n and q and returns sum of qth powers of first n natural numbers

In [23]:
def sum_n_power_q(n,q):
    my_list=[i**q for i in range(n+1)]
    sum_list=sum(my_list)
    return(sum_list)

sum_n_power_q(5,2)

55

10:Find out all numbers between 1 to 100 which are divisible by either 3 or 5 but not by both.[Hint : use sets]

In [25]:
x=set([3*x for x in range(1,34)])
print(x)
y=set([5*x for x in range(1,20)])
print(y)

{3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99}
{65, 35, 5, 70, 40, 10, 75, 45, 15, 80, 50, 20, 85, 55, 25, 90, 60, 30, 95}

In [27]:
print(x.symmetric_difference(y))

{3, 5, 6, 9, 10, 12, 18, 20, 21, 24, 25, 27, 33, 35, 36, 39, 40, 42, 48, 50, 51, 54, 55, 57, 63, 65, 66, 69, 70, 72, 78, 80, 81, 84, 85, 87, 93, 95, 96, 99}

11:

In [28]:
def fb(n):
    if(n==2):
        return([1,1])
    else:
        k=fb(n-1)
        series=k+[k[n-2]+k[n-3]]
        return(series)
    
fb(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

Prepared by: Riya Agrawal and Lalit Sachan