# Introduction to Python
Please go through first class video to understand how to work with IPython editor where we are going to write our codes. It doesnt teach you the language python , but talks about quickly setting up your python environment and getting started with ipython .

If you are done with that already, then lets begin. We are only sharing ipython notebooks when it comes to implementation in python. please open the ipython notebook [ file with the extension .ipynb ] in your browser through anaconda and run these codes.  Point is , that you'll not learn much unless you write and run these codes, play around , make chanegs and make mistakes , resolve them by searching around on the interent and asking us. Just reading through this and subssequent material wouldn't help much.

If you want to convert these files to any other format , open them using anaconda in your browser and then go to `File` option on the top left and click on `Download as`, you'll have many options as `html` , `pdf` , `py` etc. Choose any format that you are comfortable with.

We also share class codes notebook which do contain this commmentary for most parts.


We will start learning python with creating variables which can hold single values. Lets create two variables holding values `"5"` and `"data science"` respectively

In [1]:
x=5
y="data science"

# Any text followed by '#' is not conisdered python code. These are called comments
# shortcut for commenting is : select the line(s) which you want to comment and then use Ctrl+/
# short cut for executing your code is shift+enter


This created two variables **x** and **y**. To find out what value a variable holds. just type in the variable name and hit shift+enter, value will be printed.

In [2]:
x

5

In [3]:
y

'data science'

You need to keep in mind that Python is case sensitive . If you type in `X` you'll get an error because we havent yet created `X`. Lets see.

In [4]:
X

NameError: name 'X' is not defined

```
### short notes on Jupyter shortcuts before we move forward

Here are few shortcuts for jupyter cells which will come in handy. When you are in any of these cells; pressing Ctrl+m takes you into edit mode . While in edit mode following keys result in:

m : converts the cell in to markdown type. Note: markdown cells do not contain code but simple text and its not executed. it is treated as formatted text
y : Converts the cell to a normal code cell
a : inserts a cell above
b : inserts a cell below
dd : deletes a cell
shift + up/down : selects cells : then presssing shift+M, merges them
h : Opens help containing all shortcuts for jupyter

ctrl+shift+'-' : this breaks a cell into two from the point where your cursor is .Also to do this ; you dont need to be in edit mode [Note : this works in Mac OS , shortcut might be different for Windows/Linux ]

If you are using some other editor; keyboard shortcuts might be different.
```

Coming Back to our discusion on python: Although, you can pretty much chose any name you like , there are few rules to follow which we discuss in the next section.

### Variable Naming


You can pretty much chose any name as a variable name, however there are few rules that you'd need to follow


* Variable names can not have spaces in between.
* They can not contain any special character except underscore [i.e. _ ]
* Variable names can not start with a number , however you can have numbers anywhere else in the variable name


In addition to these rules there are few good practices when you are naming your variables. Google python style guide  recommends following way of naming variables based on what type of variables they are.


module_name, package_name, ClassName, method_name, ExceptionName, function_name, 
GLOBAL_CONSTANT_NAME, global_var_name, instance_var_name, 
function_parameter_name, local_var_name


*Note: Its not mandatory to use underscore with long variable names , just that it makes your variable name easily readable.*

Lets see an example below , you decide yourself which variable name is more readable.

In [5]:
isthisareadablename=3
_or_this_is_more_readable_despite_being_longer=4

There are few names which are reserved and can not be used as variable names . These names are used within python framework as keywords and hold special syntactical meaning and hence can not be used as variable names. Here is the list.


['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']


These words are not really the ones which generally come as possible variable names to mind , so dont bother about mugging up the list. Python throws an error anyway , if you try to use any of these as variable names. Lets see

In [6]:
from=4

SyntaxError: invalid syntax (<ipython-input-6-2a0314c8d058>, line 1)


### variable types


If you havent noticed , check the code for creating variables **x** and **y** . We did not need to specify any variable type before assigning values to them. However if you check their type as follows:

In [7]:
type(x)

int

In [8]:
type(y)

str


you can see that python has determined their types on its own. You can now do any operations on these variables as long as it is appropriate for their type. For example you wont be able to do mathematical operations on a character/string [type : str ] . *[ Few mathematical symbols do work with strings, but they mean something enitelry different from their traditional purposes in context of numbers]*


However , type of a variable is not final. You can seamlessely use the same variable name and assign some other value [ without necessarily matching the value to its previous type ] and python would simply overwrite the value without raising any error. Here is an example. **x** was holding a numeric value previously. Lets assign a string value to it now.

In [9]:
x="sachin"
x

'sachin'

Note: when assigning a string/char value to a variable it doesn't matter whether you use single quotes [''] or double quotes [""]

There are functions available to convert type of variables to another. Here is one example, you'll discover more such function for type conversion as and when we go forward in the course and encounter more types.

In [10]:
x="5"
type(x)

str

In [11]:
int(x)

5

Keep in mind that writing `int(x)` converted the string in x which could be converted to number. If it was string which can not be converted in number then it will throw and error.

In [12]:
x="some char"
type(x)

str

In [13]:
int(x)

ValueError: invalid literal for int() with base 10: 'some char'


One more thing that you should be aware of is that writing `int(x)` did not make any changes in **x**. It only printed the result for `int(x)`. If you do want the change to persist, then you need to equate the output the function back to original variable.

In [14]:
x="42"
int(x)

42

In [15]:
print(x)
type(x)

42

str

In [16]:
x=int(x)
type(x)

int

Now that we know how to create variables holding single values , next we'll look at operations on and between them; starting with numeric operations.

### Numeric Operations 

for simple algebaric operations , usual symbols work. Below are some examples.

In [17]:
x=1.22
y=20
x+y

21.22

In [18]:
x-y

-18.78

In [19]:
x*y

24.4

In [20]:
x/y

0.061

you can do multiple operations separated by comma

In [ ]:
x+2,y+3,x+y,x**(x+y)

For exponent x^y doesnt work.

[Note :It does bitwise operation instead. Refer to this discussion for more details :http://edvancer.in/learn/mod/forum/discuss.php?d=1355 ]

[Warning:Don't get lost in there. You **DO NOT** need to know or worry about bitwise operations in this entire course or as a data scientist. So if things don't make sense, don't worry about it. Python is a generic language; used for tons of other things. We are interested in learning the part where it is used for handling data and machine learning algorithms. Bitwise operations play no role here which we need to be concerned about.]

you need to use double asterisks for exponents as shown below

In [23]:
x=2
y=3
x**y

8


```

Q : what is the precision level which python has?

A : You can safely skip this; considering that inherrently provided precision level is more than enough for most of the data science task that you'll ever take up. However if you are keen; please find and read through relevant discussion in Q&A Forum here : http://edvancer.in/learn/mod/forum/discuss.php?d=1357

```

All this is being calculated and displayed on your console. It changes nothing in the variables involved in the operation. To store the result , assign the operation to a variable. Many small operations can be combined to make a complex one.

In [24]:
z=(x+y)**x - y/x
z

23.5

this is how you can do multiple assignments at once:

In [25]:
a,b,c,d=x+2,y+3,x+y,x**(x+y)

In [26]:
a,b,c,d

(4, 6, 5, 32)

just to be clear, following will not assign 2 to all of a,b,c. Infact , as you can see , it throws an error.

In [27]:
a,b,c=2

TypeError: 'int' object is not iterable

You should either do this :

In [29]:
a,b,c=2,2,2
a,b,c

(2, 2, 2)

Or this :

In [30]:
a,b,c=[2,2,2]
a,b,c

(2, 2, 2)

Or this:

In [31]:
a,b,c=[2]*3
a,b,c

(2, 2, 2)

The last two involve useage of lists which we havent yet learned about. We will in due time.

Function based numeric operations can be found in package math. you dont need to separately install this package. However when you need to use functions from the package you need to `import` it to current session. [ need for importing to use functions from the package is not specific to package `math`. This holds for any package]

In [32]:
import math
math.log(x)

0.6931471805599453

While importing you can assing custom name to packages being imported and use them instead. For example we are importing package `math` as `m` below:

In [33]:
import math as m
m.sin(x)

0.9092974268256817

### Logical values and Operations

We will discuss one more important data type here. Which is known as logical or boolean. There are two values of this type `True` and `False`. And they need to be spelled exactly like this for them to be recognised by python as boolean value.

In [34]:
x=True
y=False

In [35]:
type(x)

bool

In [36]:
type(y)

bool


emphasizing again; True and False need to be spelled exactly like this , otherwise they will be taken as some undefined variable.


you can do many operation on these boolean values. Below we have given some examples:

In [37]:
x and y

False

In [38]:
x & y

False

did you notice that you can use both the operator `and` and symbol `&` for doing and operation? In a similar fashion; for or operation, you can use both operator `or` or symbol `|` [this symbol is found on the same key as "\" on any keyboard ]

In [39]:
x or y

True

In [40]:
x | y

True

In [41]:
not x

False

We'll come back to logical operations on general values to generate boolean values after discussion on strings/character values

### String values and operations

while assigning a string/character value to any variable, you can use both single quotes ' ' or double quotes " ". They both work the same way.

In [42]:
x = 'Bombay'
y = "Banglore"
x,y

('Bombay', 'Banglore')

you'll find that in general usual symbols will not be available for strings like numeric operations. We'll learn many functions for specific operations on string. I will ask you to explore few functions on your own, which we can discuss later in QA forum or in class, in case you face any issue or have further questions regarding the same.

Next we'll learn function for finding number of characters in a string:

In [43]:
len(x),len(y)

(6, 8)

for concatenating or combining two strings , you can simply use "+" symbol. Lets see that at work:

In [44]:
x+y

'BombayBanglore'

In [45]:
x+" "+"#*$^"+y

'Bombay #*$^Banglore'

In [46]:
z=x+" to "+y
z

'Bombay to Banglore'

I have given below many more functions with examples. I have tried to keep the examples self explanatory about what the functions does. However if you have any question regarding any of the function, please feel free to take to the QA forum.

In [49]:
z.upper()

'BOMBAY TO BANGLORE'

In [50]:
z.lower()

'bombay to banglore'

this capitalizes the first letter only

In [51]:
z.capitalize()

'Bombay to banglore'

this justifies the word to right by padding with white spaces

In [52]:
z.rjust(20)
# 20 is string length after padding with space

'  Bombay to Banglore'

this justifies the word to left by padding with white spaces

In [53]:
z.ljust(20)

'Bombay to Banglore  '

this justifies the word to center by padding with white spaces at both the ends

In [54]:
z.center(20)

' Bombay to Banglore '

following functions are used for removing white spaces from the word. lstrip and rstrip remove white spaces from left and right side of the string, where as strip removes white spaces from both the sides.

In [55]:
z="   "+z+"    "
z

'   Bombay to Banglore    '

In [56]:
z.lstrip()

'Bombay to Banglore    '

In [57]:
z.rstrip()

'   Bombay to Banglore'

In [58]:
z.strip()

'Bombay to Banglore'

In [59]:
z

'   Bombay to Banglore    '

Note that all of these strip functions are not making any changes in z.

Next we learn about to how to do replacement in a string. I will again be using z as seen above for our example. Function for replacement is called simply replace. First argument is the pattern to be replaced and second argument is the replacement.

In [60]:
print(z)
z.replace("B","$#@")

   Bombay to Banglore

'   $#@ombay to $#@anglore    '

In [61]:
print(z)
z=z.strip()
z

   Bombay to Banglore

'Bombay to Banglore'

In [63]:
print(z)
k=z.split("a")
print(k)
print(type(k))

Bombay to Banglore
['Bomb', 'y to B', 'nglore']
<class 'list'>

function split, splits a string at given separator . Result of this is a list [ which we will learn about in some time]

## Subsetting a string with indices

For extracting a part of the string, we don’t need a special function. We can simple indexing using square brackets “[]”. While using this indexing , we need to keep few things in mind

* counting starts with 0. first character gets counted as zero
* [a:b] , means starting at ath position and extracting until (b-1)th position 
* [a:] , means starting at ath position till end
* [:a], means starting at the beginning until (a-1)th position

negative sign with indices mean counting from right instead of natural left.

* [:-a], means starting at the beginning and going up til ath position from end. counting from end also starts with 0.
* [-a:], means starting at (a+1)th character from the end and going up till last character.
* [a:-b], means starting at ath character at the beginning and going till bth position from end
* [-a:-b], means starting at (a+1)th character from the end and going up till bth position from end

Lets see these in action

In [64]:
print(z)
z[2:4]

Bombay to Banglore

'mb'

In [65]:
print(z)
z[3:]

Bombay to Banglore

'bay to Banglore'

In [66]:
print(z)
z[:3]

Bombay to Banglore

'Bom'

In [67]:
print(z)
z[:-3]

Bombay to Banglore

'Bombay to Bangl'

In [68]:
print(z)
z[-3:]

Bombay to Banglore

'ore'

In [69]:
print(z)
z[3:-3]

Bombay to Banglore

'bay to Bangl'

In [70]:
print(z)
z[-6:-2]

Bombay to Banglore

'nglo'

Other useful functions that we will explore for string operations : count , find & split.


functions that i want you to explore on your own further are family of function for checking whether a particular piece of string belongs to a certain type or not. Here are those functions :

```
Ex: Find out what following functions do : isalnum,isalpha,isdigit,islower,isupper. Discuss this on Q&A forum , if you face any issue in figuring out what these functions do.
```

In [71]:
print(z)
z.count("B")

Bombay to Banglore

2

Did you notice that the count function is case sensitive. "b" is not considered. 

```
Ex : Is there an option within function count using which we can make the count case insensitive.

```

function find gives location of first occurence of the pattern in the string. you can change the part of the string being searched using options "beg" and "end" [ exploring those options has been left to you].

In [72]:
print(z)
z.find("B")

Bombay to Banglore

0

```
Ex : find out how can we change search range for function find

```

### Writing Conditions

comparison between two variables or condition can be written using multiple operators as listed below :

* checking equality : "=="
* in-equality : "!="
* greater than : ">"
* less than : "<"
* greater than or equal to : ">="
* less than or equal to : "<="

we'll also see some string related special condition check and how to write them in the examples given below

In [73]:
x=34
y=32

x==y

False

In [74]:
x!=y

True

In [75]:
x>y

True

In [76]:
x<y

False

In [77]:
x>=y

True

In [78]:
x<=y

False

In [79]:
x="as"
y="assignment"

x in y

True

In [80]:
x not in y

False

It is possible to use >,< etc comparison with strings too. these comparisons between strings, give results based on dictionary order as defined in the local OS.

In [81]:
x > y

False

In [82]:
x="B"
y="Aaajsa"
x>y

True

We'll end this discussion here with the note that you can write complex conditional statements by combining individual conditions using & and | operators.

### Lists
Lists are one of the higher data types which is used in python a lot . This is our first encounter with data structures which can hold more than one value. lets see how to create a list with multiple values.

In [83]:
x = [1,2,3,70,-10,0,99,"a","b","c"]
x

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c']

selection and slicing works pretty much like strings we saw earlier here also counting starts from 0. Lets look at few examples for the same.

In [84]:
print(x)
x[3:7]

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c']

[70, -10, 0, 99]

In [85]:
print(x)
x[3:]

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c']

[70, -10, 0, 99, 'a', 'b', 'c']

In [86]:
print(x)
x[:3]

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c']

[1, 2, 3]

In [87]:
print(x)
x[3:-3]

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c']

[70, -10, 0, 99]

In [88]:
print(x)
x[3:-3:2] # third argument here is step

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c']

[70, 0]

In [89]:
print(x)
x[::2]

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c']

[1, 3, -10, 99, 'b']

while accessing the elements with position , we can do replacement/substitution of the values too. Here is how:

In [90]:
print(x)

x[2]

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c']

3

In [91]:
x[2]="!!!"
x

[1, 2, '!!!', 70, -10, 0, 99, 'a', 'b', 'c']

In case multiple assignment, value is then treated as a list with each char as individual element

In [92]:
print(x)
x[2:4]="bipin" 
print(x)

[1, 2, '!!!', 70, -10, 0, 99, 'a', 'b', 'c']
[1, 2, 'b', 'i', 'p', 'i', 'n', -10, 0, 99, 'a', 'b', 'c']

For a string to be treated as a single word instead of a char list you need to wrap it in a list as shown below

In [93]:
x=[23,45,67,2,5]

x[2:4]

[67, 2]

In [94]:
print(x)
x[2:4]=["bipin"]
print(x)

[23, 45, 67, 2, 5]
[23, 45, 'bipin', 5]

here is another way of adding newer elemnets simply at the end of the list:

In [95]:
print(x)
x.append("new")
print(x)

[23, 45, 'bipin', 5]
[23, 45, 'bipin', 5, 'new']

if you append a list to a list , entire list gets added to the end as a single element.

In [96]:
print(x)
x.append([1,2,3])
print(x)

[23, 45, 'bipin', 5, 'new']
[23, 45, 'bipin', 5, 'new', [1, 2, 3]]

In [97]:
x[5]

[1, 2, 3]

However if you use extend instead , member of list are added at the end as individual elements separately

In [98]:
print(x)
x.extend([1,2,3])
print(x)

[23, 45, 'bipin', 5, 'new', [1, 2, 3]]
[23, 45, 'bipin', 5, 'new', [1, 2, 3], 1, 2, 3]

Using insert you can add new element at any position of the list. Note that its not replacing the element at that position. Insertion increases size of the list.

In [99]:
print(x)
x.insert(2,"another")
print(x)

[23, 45, 'bipin', 5, 'new', [1, 2, 3], 1, 2, 3]
[23, 45, 'another', 'bipin', 5, 'new', [1, 2, 3], 1, 2, 3]

another way to extend [ without using the function extend ] is to simply use symbol "+"

In [100]:
print(x)
x=x+[3,4,5]
print(x)

[23, 45, 'another', 'bipin', 5, 'new', [1, 2, 3], 1, 2, 3]
[23, 45, 'another', 'bipin', 5, 'new', [1, 2, 3], 1, 2, 3, 3, 4, 5]

For removing elements we will first look at function pop. One sepcial thing to notice about pop is that it removes the last element in place [does change x]. Lets look at it in action

In [101]:
print(x)
x.pop()

print(x)

[23, 45, 'another', 'bipin', 5, 'new', [1, 2, 3], 1, 2, 3, 3, 4, 5]
[23, 45, 'another', 'bipin', 5, 'new', [1, 2, 3], 1, 2, 3, 3, 4]

you can pass the position as argument to pop, to remove values from a sepcific position.

In [102]:
print(x)
x.pop(3)
print(x)

[23, 45, 'another', 'bipin', 5, 'new', [1, 2, 3], 1, 2, 3, 3, 4]
[23, 45, 'another', 5, 'new', [1, 2, 3], 1, 2, 3, 3, 4]

For removing by specifying the value , you need to use function remove. Here is an example:

In [103]:
print(x)
x.remove("another")
print(x)

[23, 45, 'another', 5, 'new', [1, 2, 3], 1, 2, 3, 3, 4]
[23, 45, 5, 'new', [1, 2, 3], 1, 2, 3, 3, 4]

If you try to remove something which is not in the list , you'll get an error. Since we already removed "another" from the list. Lets try to remove it again. we'll get an error

In [104]:
x.remove("another")

ValueError: list.remove(x): x not in list

```
Ex: what if there are multiple occurences of the value which you are trying to remove. Is there a way to remove multiple values at once or a value at a specific position?
```

next we look at sorting the list. sorting and resversing functions that we see, they do so in place.

In [105]:
x=[(a-5)**2 for a in range(10)]
print(x)
x.sort() # sorts in place
print(x)
x.reverse() # reverses in place
print(x)

[25, 16, 9, 4, 1, 0, 1, 4, 9, 16]
[0, 1, 1, 4, 4, 9, 9, 16, 16, 25]
[25, 16, 16, 9, 9, 4, 4, 1, 1, 0]

You just saw a wierd way of creating that list, we'll understand how that was done, but before that we'll learn how to write for loops next.

### For Loops

For loops are a way to bring down amount of code that you need to write to do an operation which is very repeating in nature. for example consider this list:

In [106]:
cities = ["delhi","Banglore","mumbai","pune"]

Now lets say we had to print number of letters in each member of the list. we could do something as given below:

In [107]:
print(len(cities[0]))
print(len(cities[1]))
print(len(cities[2]))
print(len(cities[3]))

5
8
6
4

Imagine that list now having 100s of cities , would you still be writing that code the same way? There must be a better way , and there certainly is , its called for loop. Lets see how its written:

In [108]:
for i in [0,1,2,3]:
    print(len(cities[i]))

5
8
6
4

Couple of things to discuss here .

i here is iterator which takes value from the value list [ which is [0,1,2,3] here . For each value which iterator takes, statements inside the for loop are executed.

But how do we know what is "inside" the for loop? there are no parenthesis to contain the for loop. 

Notice the indent, that is what defines boundaries in python. You'll get error and your code will not run , if you do not use indentation properly. I like this property of python, it kind of forces you to write code which is easy to read. Which is a very importent but often overlooked property of program. Couple of more points :

* iterator doesnt have to be named "i" , it can be anything.
* Value list doesnt have to be a list of coninuous number sequence, It can be a number list [numbers in any order], character list or something else too
* iterator value need not be used inside the loop

lets look at another way of writing that for loop that we just saw:

In [109]:
cities

['delhi', 'Banglore', 'mumbai', 'pune']

In [110]:
for city in cities:
    print(len(city))

5
8
6
4

*Note: print used to work without parenthesis in previous versions of python. You might find many examples online like that.*

### List Comprehensions with For Loops
We'll now see how for loops can be directly written inside for loops to modify and create lists.

In [111]:
x=range(8)

range(k) creates a list which starts at 0 and contains numbers uptill (k-1) with increment of one from 0. In the example below we have created a simple list containing values 1,2,3,4,5,6,7. From this we want to exract remainder for each value of x when that gets divided by 2.

operator `%` calculates remainder. a%2 will caclulate remiander when a is dvivided by 2.

In [112]:
100%32

4

In [113]:
x=range(8)

x_mod_2=[]

for a in x:
	x_mod_2.append(a%2)

x_mod_2

[0, 1, 0, 1, 0, 1, 0, 1]

we dont need to do this, instead we can directly write a for loop inside an empty list to populate values . Lets see how:

In [114]:
x_mod_2=[]
x_mod_2=[a%2 for a in x]
x_mod_2

[0, 1, 0, 1, 0, 1, 0, 1]

We can write list comprehension with conditions also , here is an example:

In [115]:
print(x)

range(0, 8)

In [116]:
x_ls2=[math.log(a) for a in x if a%2 !=0]
print(x_ls2)

[0.0, 1.0986122886681098, 1.6094379124341003, 1.9459101490553132]

### Writing your own functions in python

writing functions in python starts with the keyword "def", then the name follows with the required arguments in the the parenthesis. Then after the colon, your function definition starts. Here also you need to be careful about the indentation which defines the function boundary.
Once the calculations are done inside the function, you need to output the result using return. Although its not mandatory that a function should always return something. Here is an example:

In [117]:
# writing a function in python

def my_func(x):
    if x%2!=0:
        return(math.log(x))
    else:
        return(x)

x_ls3=[my_func(a) for a in x]
x_ls3

[0, 0.0, 2, 1.0986122886681098, 4, 1.6094379124341003, 6, 1.9459101490553132]

Notice that any code block [the one inside the function as well] is defined by indents. Level of indent increases when another block is inside some other block as seen here.We'll see many more examples of functions as we move forward in the course. 

you can provide default values to argument as well, so that when those values are not supplied fucntion can work with default values.

In [118]:
def mysum(x=10,y=10):
	return(2*x+3*y)

print(mysum(2,3))
print(mysum(2))
print(mysum())

13
34
50

In [119]:
mysum(y=4)

32

Here you notice that python figures out which argument values belongs to which input variable by its position. You can also use argument names , which then in turn is useful when there are many arguments to pass and using position as indicator is not feasible. Also; when you name your argument, its position in the input is irrelevant.

In [120]:
print(mysum(y=-10))
print(mysum(y=100,x=1))

-10
302

Next we look at some more data structres which can contain multiple values and hold slightly different properties.

### Dictionaries

dictionaries is data structure where you can store the data with keys. There is no order to the elements, so you can access them with their position. Infact there is no concept of position as such with dictionaries. Lets see how to create a dictionary:

In [121]:
d= {"actor":"nasir","animal":"dog","earth":1,"list":[1,2,3]}

Here "a":"b" is called a key:value pair , where a is key and b is value. Both of them can be any data type. [ however, lists can not be used as keys]. To access the values you need to pass key in square brackets. Below is an example using the dictionary that we created above.

In [122]:
d["animal"]

'dog'

If the key doesnt exist, then it throws error.

In [123]:
d['fish']

KeyError: 'fish'

In [124]:
# add new key value pair
d['module']="intro"
print(d)

{'list': [1, 2, 3], 'module': 'intro', 'actor': 'nasir', 'earth': 1, 'animal': 'dog'}

In [125]:
# removing a key value pair
del d['actor']
print(d)

{'list': [1, 2, 3], 'module': 'intro', 'earth': 1, 'animal': 'dog'}

In [126]:
# element access in loop
for elem in d:
	print('value for key:%s is' % (elem) ,":",d[elem])

value for key:list is : [1, 2, 3]
value for key:module is : intro
value for key:earth is : 1
value for key:animal is : dog

You can see that when you write dictionary's name in the for loop like list , value which is passed to iterator is keys of the dictionary, one by one. If you are new to programming , %s in a string is used as placeholder for a string which will be replaced by some value later on in the code. For example in the code above %s is replaced by values of (elem).

if you want to access both key and values , you can make use of *dict*.items(). Here is how:

In [127]:
d.items()

dict_items([('list', [1, 2, 3]), ('module', 'intro'), ('earth', 1), ('animal', 'dog')])

In [128]:
for a,b in d.items():
	print('value for key:%s is %s' %(a,b))

value for key:list is [1, 2, 3]
value for key:module is intro
value for key:earth is 1
value for key:animal is dog

### Sets

Sets are another type of data structres which can contain multiple elements. This is also unordered like dictionaries , as in their is concept of a fixed position like lists. Also elements have to be unique in it. Lets see how to create a set.

In [129]:
animals = {'cat', 'dog'}

You can use `in` operator to check whether an element is ther in set or not.

In [130]:
'cat' in animals

True

In [131]:
'fish' in animals

False

In [132]:
animals.add('fish')
print(animals)

{'fish', 'dog', 'cat'}

You can use functions `add` and `remove` to add and remove elements to and from sets.

In [133]:
animals.add('cat')   
print(animals)

{'fish', 'dog', 'cat'}

you can see that if the element already existed in set, its not repeated. Python doesnt throw an error either. However if element is not there in the set, it is added.

In [134]:
animals.add('cow')
print(animals)

{'cow', 'fish', 'dog', 'cat'}

In [135]:
animals.remove('cat')
print(animals)

{'cow', 'fish', 'dog'}

because of sets being unordered , you can not assume the order which you see while creating it; while using it in a for loop comprehension. See below:

In [136]:
animals = {'cat', 'dog', 'fish','here','there'}
for animal in animals:
	print(animal)

there
cat
fish
dog
here

We'll next explore following functions associated with sets : 

union, intersection, issubset, issuperset, differnce, symmetric_differnce

In [137]:
a={1,2,3,4,5,6}
b={4,5,6,7,8,9}

In [138]:
c=a.union(b)
c

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [139]:
a.intersection(b)

{4, 5, 6}

In [140]:
a.issubset(b)

False

In [141]:
a.issubset(c)

True

In [142]:
c.issuperset(b)

True

Difference between function symmetric_difference and difference is as follows:

* s.difference(t) :	new set with elements in s but not in t
* s.symmetric_difference(t) :  new set with elements in either s or t but not both

lets see with our own examples :

In [143]:
print(a)
print(b)
a.difference(b)

{1, 2, 3, 4, 5, 6}
{4, 5, 6, 7, 8, 9}

{1, 2, 3}

In [144]:
print(a)
print(b)
a.symmetric_difference(b)

{1, 2, 3, 4, 5, 6}
{4, 5, 6, 7, 8, 9}

{1, 2, 3, 7, 8, 9}

### Tuples
Tuples can be understood to be immutable lists. Immutable means , you can not change its elements. Lets see how to create tuples :

In [145]:
t = 12345, 54321, 'hello!'
t

(12345, 54321, 'hello!')

In [146]:
t =( 12345, 54321, 'hello!') # same thing
t

(12345, 54321, 'hello!')

tuples can contain tuples themselves just like lists

In [147]:
u = t, (1, 2, 3, 4, 5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

Lets understand immuatability better with an example :

In [148]:
t

(12345, 54321, 'hello!')

In [149]:
t[0]=21 # you can not reassign

TypeError: 'tuple' object does not support item assignment

But tuples can have mutable objects such as lists. So that tuple's elements can not be changed , but it's mutable element's element can be changed. You'll see in the example below; when we try to change element of tuple, we get an error. But when we try to change element of a mutable element, it can be done.

In [150]:
v = ([1, 2, 3], [3, 2, 1])

In [151]:
v[0]=21

TypeError: 'tuple' object does not support item assignment

In [152]:
print(v)
v[0][0]=21
print(v)

([1, 2, 3], [3, 2, 1])
([21, 2, 3], [3, 2, 1])

one of the most important differences in tuples and lists is that tuples can be used as keys in dictionaries and as elements of sets, while lists cannot. Here is a trivial example:

In [153]:
d = {(x, x + 1): x for x in range(10)}  
# Create a dictionary with tuple keys
print(d)

{(0, 1): 0, (1, 2): 1, (5, 6): 5, (2, 3): 2, (4, 5): 4, (6, 7): 6, (8, 9): 8, (9, 10): 9, (3, 4): 3, (7, 8): 7}

In [154]:
t = (5, 6)   
print(type(t))
print(d[t])

<class 'tuple'>
5

### Writing your own Classes:

*Note :* you can safely skip this portion if you feel overwhelmed at any point in it. We'll not be using this in the course for quite some time.

Python comes with many classes and functions within them to facilitate a lot of things that we want to do with our data. But many at time we might want to work with our own custom object types repeatedly and its better to write our own class than to rely on indirect implementations repeatedly.

Below given is an example with comments in between for better understanding. In this example we are writing a class so that we can define a point in x,y coordinate system and do operations like finding distance between two points and a point's length when its treated as vector starting at the origin.

In [155]:
# we start with keyword class and then give our class a name

class Point(object):

    def __init__(self, x, y):
        '''Defines x and y variables'''
        self.X = x
        self.Y = y

        # self is used as reference to internal objects that get 
        # created using values supplied from outside 
        # default function _init_ is used to create internal objects
        # which can be accessed by other functions in the class

    def length(self):
        return(self.X**2+self.Y**2)
    
    # all function inside a class will have access to internal objects 
    # created inside the class
    # you can understand self to be default Point class object
    
    def distance(self, other):
        dx = self.X - other.X
        dy = self.Y - other.Y
        return math.sqrt(dx**2 + dy**2)
    
    # a function inside the class can take input multiple objects
    # of the same class

Now lets use this newly created Point class to create and object of type Point

In [156]:
z=Point(2,3)
y=Point(4,10)

In [157]:
type(y)

__main__.Point

In [158]:
type(z)

__main__.Point

You can access the object attributes created inside function `_init_` using *object.attribute* syntax. Example given below :

In [159]:
print(z.X)
print(z.Y)

2
3

you can apply function on and between objects of this class Point by using syntax *clas_name.function* . example given below

In [160]:
print(Point.distance(y,z))
print(Point.length(y))
print(Point.length(z))

7.280109889280518
116
13

We'll conclude our discussion here. In the next module we'll look at some packages in python which enable us to do data sepcific task and brings us closer to be able to start doing machine learning tasks in python.

Prepared By : Lalit Sachan (lalit.sachan@edvancer.in)

In case of any doubts or errata alert; please take to QA forum for discussion. 

Doubts will be discussed in live class sessions too. [This doesnt apply for self paced students]