# Introduction to Python

In [2]:
x=5
y="data science"

# Any text followed by '#' is not conisdered python code. These are called comments
# shortcut for commenting is : select the line(s) which you want to comment and then use Ctrl+/
# short cut for executing your code is shift+enter

In [3]:
x

5

In [4]:
y

'data science'

In [5]:
X

NameError: name 'X' is not defined

### Variable Naming


You can pretty much chose any name as a variable name, however there are few rules that you'd need to follow


* Variable names can not have spaces in between.
* They can not contain any special character except underscore [i.e. _ ]
* Variable names can not start with a number , however you can have numbers anywhere else in the variable name


In addition to these rules there are few good practices when you are naming your variables. Google python style guide  recommends following way of naming variables based on what type of variables they are.


module_name, package_name, ClassName, method_name, ExceptionName, function_name, 
GLOBAL_CONSTANT_NAME, global_var_name, instance_var_name, 
function_parameter_name, local_var_name


*Note: Its not mandatory to use underscore with long variable names , just that it makes your variable name easily readable.*

Lets see an example below , you decide yourself which variable name is more readable.

In [12]:
isthisareadablename=3
# to break cells in two : ctrl shift -

In [13]:
_or_this_is_more_readable_despite_being_longer=4

**Reserved Words:**


['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [11]:
from=4

SyntaxError: invalid syntax (<ipython-input-11-2a0314c8d058>, line 1)


### variable types

In [14]:
type(x)

int

In [15]:
type(y)

str

In [16]:
x="sachin"
x

'sachin'

Note: when assigning a string/char value to a variable it doesn't matter whether you use single quotes [''] or double quotes [""]

In [17]:
x="5"
type(x)

str

In [18]:
x+2

TypeError: Can't convert 'int' object to str implicitly

In [20]:
int(x)+2

7

In [21]:
x="abcd"
type(x)

str

In [22]:
int(x)

ValueError: invalid literal for int() with base 10: 'abcd'

In [23]:
x="42"
int(x)

42

In [24]:
print(x)
type(x)

42

str

In [25]:
x=int(x)
type(x)

int

### Numeric Operations 

for simple algebaric operations , usual symbols work. Below are some examples.

In [26]:
x=1.22
y=20
x+y

21.22

In [27]:
x-y

-18.78

In [28]:
x*y

24.4

In [29]:
x/y

0.061

you can do multiple operations separated by comma

In [30]:
x+2,y+3,x+y,x**(x+y)

(3.2199999999999998, 23, 21.22, 68.00731157600202)

In [ ]:
# x^y : this is not same x**y

you need to use double asterisks for exponents as shown below

In [31]:
x=2
y=3
x**y

8

In [32]:
z=(x+y)**x - y/x
z

23.5

In [33]:
a,b,c,d=x+2,y+3,x+y,x**(x+y)

In [34]:
a,b,c,d

(4, 6, 5, 32)

In [35]:
a,b,c=2

TypeError: 'int' object is not iterable

You should either do this :

In [40]:
a,b,c=2,2,2
a,b,c

(2, 2, 2)

Or this :

In [41]:
a,b,c=[2,2,2]
a,b,c

(2, 2, 2)

Or this:

In [42]:
a,b,c=[2]*3
a,b,c

(2, 2, 2)

In [50]:
import math
math.log(x)

1.6094379124341003

In [51]:
import math as m
m.sin(x)

-0.9589242746631385

### Logical values and Operations

In [56]:
x=True
y=False

In [53]:
type(x)

bool

In [54]:
type(y)

bool

In [57]:
x and y

False

In [58]:
x & y

False

In [59]:
x or y

True

In [60]:
x | y

True

In [61]:
not x

False

In [63]:
!x

### String values and operations

In [64]:
x = 'Bombay'
y = "Banglore"
x,y

('Bombay', 'Banglore')

In [65]:
len(x),len(y)

(6, 8)

In [66]:
x+y

'BombayBanglore'

In [68]:
x+" "+"fnbnv"+y

'Bombay fnbnvBanglore'

In [69]:
z=x+" to "+y
z

'Bombay to Banglore'

In [70]:
z.upper()

'BOMBAY TO BANGLORE'

In [71]:
z.lower()

'bombay to banglore'

In [72]:
z.capitalize()

'Bombay to banglore'

In [76]:
len(z)

18

In [78]:
z.rjust(10)
# 20 is string length after padding with space

'Bombay to Banglore'

In [75]:
z.ljust(20)

'Bombay to Banglore  '

In [80]:
z.center(21)

'  Bombay to Banglore '

In [81]:
z

'Bombay to Banglore'

In [82]:
z="   "+z+"    "
z

'   Bombay to Banglore    '

In [83]:
z.lstrip()

'Bombay to Banglore    '

In [84]:
z.rstrip()

'   Bombay to Banglore'

In [85]:
z.strip()

'Bombay to Banglore'

In [86]:
z

'   Bombay to Banglore    '

In [87]:
print(z)
z.replace("B","$#@")

   Bombay to Banglore

'   $#@ombay to $#@anglore    '

In [ ]:
## can i remove all white spaces . find out if a function like compress is there in python
## how to use lists , join and split to remove all spaces in a string in python

In [88]:
print(z)
z=z.strip()
z

   Bombay to Banglore

'Bombay to Banglore'

In [89]:
print(z)
k=z.split("a")

Bombay to Banglore

In [90]:
print(k)

['Bomb', 'y to B', 'nglore']

In [91]:
print(type(k))

<class 'list'>

In [92]:
a,b,c=k

In [94]:
b

'y to B'

function split, splits a string at given separator . Result of this is a list [ which we will learn about in some time]

## Subsetting a string with indices

For extracting a part of the string, we don’t need a special function. We can simple indexing using square brackets “[]”. While using this indexing , we need to keep few things in mind

* counting starts with 0. first character gets counted as zero
* [a:b] , means starting at ath position and extracting until (b-1)th position 
* [a:] , means starting at ath position till end
* [:a], means starting at the beginning until (a-1)th position

negative sign with indices mean counting from right instead of natural left.

* [:-a], means starting at the beginning and going up til ath position from end. counting from end also starts with 0.
* [-a:], means starting at (a-1)th character from the end and going up till last character.
* [a:-b], means starting at ath character at the beginning and going till bth position from end
* [-a:-b], means starting at (a+1)th character from the end and going up till bth position from end

Lets see these in action

In [2]:
x='somethingtosay'

'ngto'

In [96]:
print(z)
z[2:10]

Bombay to Banglore

'mbay to '

In [97]:
print(z)
z[3:]

Bombay to Banglore

'bay to Banglore'

In [98]:
print(z)
z[:3]

Bombay to Banglore

'Bom'

In [99]:
print(z)
z[:-3]

Bombay to Banglore

'Bombay to Bangl'

In [100]:
print(z)
z[-3:]

Bombay to Banglore

'ore'

* [:-a], means starting at the beginning and going up til ath position from end. counting from end also starts with 0.
* [-a:], means starting at (a-1)th character from the end and going up till last character.

In [101]:
print(z)
z[3:-3]

Bombay to Banglore

'bay to Bangl'

In [102]:
print(z)
z[-6:-2]

Bombay to Banglore

'nglo'

Other useful functions that we will explore for string operations : count , find & split.


functions that i want you to explore on your own further are family of function for checking whether a particular piece of string belongs to a certain type or not. Here are those functions :

```
Ex: Find out what following functions do : isalnum,isalpha,isdigit,islower,isupper. Discuss this on Q&A forum , if you face any issue in figuring out what these functions do.
```

In [103]:
print(z)
z.count("B")

Bombay to Banglore

2

Did you notice that the count function is case sensitive. "b" is not considered. 

```
Ex : Is there an option within function count using which we can make the count case insensitive.

```

In [1]:
print(z)
z.find("a")

NameError: name 'z' is not defined

```
Ex : find out how can we change search range for function find

```

### Writing Conditions



* checking equality : "=="
* in-equality : "!="
* greater than : ">"
* less than : "<"
* greater than or equal to : ">="
* less than or equal to : "<="

In [108]:
x=34
y=32

x==y

False

In [109]:
x!=y

True

In [110]:
x>y

True

In [111]:
x<y

False

In [112]:
x>=y

True

In [113]:
x<=y

False

In [114]:
x="as"
y="assignment"

x in y

True

In [115]:
x not in y

False

In [116]:
x > y

False

In [117]:
x="B"
y="Aaajsa"
x>y

True

### Lists

In [136]:
x = [1,2,3,70,-10,0,99,"a","b","c"]
x

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c']

selection and slicing works pretty much like strings we saw earlier here also counting starts from 0. Lets look at few examples for the same.

In [119]:
type(x)

list

In [120]:
x

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c']

In [121]:
print(x)
x[3:7]

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c']

[70, -10, 0, 99]

In [122]:
print(x)
x[3:]

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c']

[70, -10, 0, 99, 'a', 'b', 'c']

In [123]:
print(x)
x[:3]

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c']

[1, 2, 3]

In [124]:
print(x)
x[3:-3]

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c']

[70, -10, 0, 99]

In [130]:
print(x)
x[1:-3:2] # third argument here is step

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c']

[2, 70, 0]

In [132]:
print(x)
x[1::2]

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c']

[2, 70, 0, 'a', 'c']

while accessing the elements with position , we can do replacement/substitution of the values too. Here is how:

In [133]:
print(x)

x[2]

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c']

3

In [134]:
x[2]="!!!"
x

[1, 2, '!!!', 70, -10, 0, 99, 'a', 'b', 'c']

In case multiple assignment, value is then treated as a list with each char as individual element

In [137]:
print(x)
x[2:4]=["bipin"]
print(x)

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c']
[1, 2, 'bipin', -10, 0, 99, 'a', 'b', 'c']

For a string to be treated as a single word instead of a char list you need to wrap it in a list as shown below

In [138]:
x=[23,45,67,2,5]

x[2:4]

[67, 2]

In [139]:
print(x)
x[2:4]=["bipin"]
print(x)

[23, 45, 67, 2, 5]
[23, 45, 'bipin', 5]

In [140]:
print(x)
x.append("new")
print(x)

[23, 45, 'bipin', 5]
[23, 45, 'bipin', 5, 'new']

In [141]:
print(x)
x.append([1,2,3])
print(x)

[23, 45, 'bipin', 5, 'new']
[23, 45, 'bipin', 5, 'new', [1, 2, 3]]

In [143]:
x[5]

2

In [144]:
print(x)
x.extend([1,2,3])
print(x)

[23, 45, 'bipin', 5, 'new', [1, 2, 3]]
[23, 45, 'bipin', 5, 'new', [1, 2, 3], 1, 2, 3]

In [145]:
type(x)

list

In [146]:
print(x)
x.insert(2,"another")
print(x)

[23, 45, 'bipin', 5, 'new', [1, 2, 3], 1, 2, 3]
[23, 45, 'another', 'bipin', 5, 'new', [1, 2, 3], 1, 2, 3]

In [147]:
print(x)
x=x+[3,4,5]
print(x)

[23, 45, 'another', 'bipin', 5, 'new', [1, 2, 3], 1, 2, 3]
[23, 45, 'another', 'bipin', 5, 'new', [1, 2, 3], 1, 2, 3, 3, 4, 5]

In [148]:
print(x)
x.pop()

print(x)

[23, 45, 'another', 'bipin', 5, 'new', [1, 2, 3], 1, 2, 3, 3, 4, 5]
[23, 45, 'another', 'bipin', 5, 'new', [1, 2, 3], 1, 2, 3, 3, 4]

In [149]:
print(x)
x.pop(3)
print(x)

[23, 45, 'another', 'bipin', 5, 'new', [1, 2, 3], 1, 2, 3, 3, 4]
[23, 45, 'another', 5, 'new', [1, 2, 3], 1, 2, 3, 3, 4]

In [150]:
print(x)
x.remove("another")
print(x)

[23, 45, 'another', 5, 'new', [1, 2, 3], 1, 2, 3, 3, 4]
[23, 45, 5, 'new', [1, 2, 3], 1, 2, 3, 3, 4]

In [151]:
x.remove("another")

ValueError: list.remove(x): x not in list

In [152]:
print(x)
x.remove(3)
print(x)

[23, 45, 5, 'new', [1, 2, 3], 1, 2, 3, 3, 4]
[23, 45, 5, 'new', [1, 2, 3], 1, 2, 3, 4]

In [153]:
print(x)
x.pop(2:5)
print(x)

SyntaxError: invalid syntax (<ipython-input-153-c54c55c57343>, line 2)

```
Ex: what if there are multiple occurences of the value which you are trying to remove. Is there a way to remove multiple values at once or a value at a specific position?
```

In [4]:
x=[(a-5)**2 for a in range(10)]
print(x)

[25, 16, 9, 4, 1, 0, 1, 4, 9, 16]

In [2]:
x.sort() # sorts in place
print(x)
# how to sort in descending manner

[0, 1, 1, 4, 4, 9, 9, 16, 16, 25]

In [5]:
x.reverse() # reverses in place
print(x)

[16, 9, 4, 1, 0, 1, 4, 9, 16, 25]

### For Loops

In [6]:
cities = ["delhi","Banglore","mumbai","pune"]

In [7]:
print(len(cities[0]))
print(len(cities[1]))
print(len(cities[2]))
print(len(cities[3]))

5
8
6
4

In [16]:
for i in range(4):
    print(len(cities[i]))

5
8
6
4

Couple of things to discuss here .

* iterator doesnt have to be named "i" , it can be anything.
* Value list doesnt have to be a list of coninuous number sequence, It can be a number list [numbers in any order], character list or something else too
* iterator value need not be used inside the loop

lets look at another way of writing that for loop that we just saw:

In [11]:
cities

['delhi', 'Banglore', 'mumbai', 'pune']

In [14]:
for city in cities:
    print("hello")

x=3
y=5
x+y

hello
hello
hello
hello

8

*Note: print used to work without parenthesis in previous versions of python. You might find many examples online like that.*

### List Comprehensions with For Loops

In [ ]:
x=range(8)

 From this we want to exract remainder for each value of x when that gets divided by 2.

operator `%` calculates remainder. a%2 will caclulate remiander when a is dvivided by 2.

In [17]:
100%32

4

In [18]:
x=range(8)

x_mod_2=[]

for a in x:
	x_mod_2.append(a%2)

x_mod_2

[0, 1, 0, 1, 0, 1, 0, 1]

In [19]:

x_mod_2=[a%2 for a in x]
x_mod_2

[0, 1, 0, 1, 0, 1, 0, 1]

In [20]:
print(x)

range(0, 8)

In [22]:
import math

In [23]:
x_ls2=[math.log(a) for a in x if a%2 !=0]

print(x_ls2)

[0.0, 1.0986122886681098, 1.6094379124341003, 1.9459101490553132]

### Writing your own functions in python

In [24]:
# writing a function in python

def my_func(x):
    if x%2!=0:
        return(math.log(x))
    else:
        return(x)

In [26]:
my_func(19)

2.9444389791664403

In [27]:
x

range(0, 8)

In [28]:
x_ls3=[my_func(a) for a in x]
x_ls3

[0, 0.0, 2, 1.0986122886681098, 4, 1.6094379124341003, 6, 1.9459101490553132]

In [29]:
def mysum(x=10,y=10):
	return(2*x+3*y)

In [30]:
mysum(2,3)

13

In [31]:
mysum(2)

34

In [32]:
mysum()

50

In [33]:
mysum(,2)

SyntaxError: invalid syntax (<ipython-input-33-5646ff27471f>, line 1)

In [34]:
mysum(y=4)

32

In [36]:
print(mysum(y=-10))
mysum(y=100,x=1)

-10

302

### Dictionaries

In [3]:
d= {"actor":"nasir","animal":"dog","earth":1,"list":[1,2,3]}

In [5]:
d.keys()

dict_keys(['earth', 'list', 'animal', 'actor'])

In [7]:
d.values()

dict_values([1, [1, 2, 3], 'dog', 'nasir'])

In [38]:
d["animal"]

'dog'

In [39]:
d['fish']

KeyError: 'fish'

In [40]:
# add new key value pair
d['module']="intro"
print(d)

{'module': 'intro', 'list': [1, 2, 3], 'animal': 'dog', 'earth': 1, 'actor': 'nasir'}

In [41]:
# removing a key value pair
del d['actor']
print(d)

{'module': 'intro', 'list': [1, 2, 3], 'animal': 'dog', 'earth': 1}

In [48]:
# element access in loop
for elem in d:
	print('value for key:%s ' %(elem) ,'is :%s' %(d[elem]))

value for key:module  is :intro
value for key:list  is :[1, 2, 3]
value for key:animal  is :dog
value for key:earth  is :1

In [49]:
d.items()

dict_items([('module', 'intro'), ('list', [1, 2, 3]), ('animal', 'dog'), ('earth', 1)])

In [50]:
for a,b in d.items():
	print('value for key:%s is %s' %(a,b))

value for key:module is intro
value for key:list is [1, 2, 3]
value for key:animal is dog
value for key:earth is 1

### Sets

In [51]:
animals = {'cat', 'dog'}

In [52]:
'cat' in animals

True

In [53]:
'fish' in animals

False

In [54]:
animals.add('fish')
print(animals)

{'fish', 'dog', 'cat'}

In [55]:
animals.add('cat')   
print(animals)

{'fish', 'dog', 'cat'}

In [56]:
animals.add('cow')
print(animals)

{'fish', 'dog', 'cat', 'cow'}

In [57]:
animals.remove('cat')
print(animals)

{'fish', 'dog', 'cow'}

In [58]:
animals = {'cat', 'dog', 'fish','here','there'}
for animal in animals:
	print(animal)

fish
dog
here
cat
there

In [59]:
a={1,2,3,4,5,6}
b={4,5,6,7,8,9}

In [60]:
c=a.union(b)
c

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [61]:
a.intersection(b)

{4, 5, 6}

In [62]:
a.issubset(b)

False

In [63]:
a.issubset(c)

True

In [64]:
c.issuperset(b)

True

Difference between function symmetric_difference and difference is as follows:

* s.difference(t) :	new set with elements in s but not in t
* s.symmetric_difference(t) :  new set with elements in either s or t but not both

lets see with our own examples :

In [65]:
print(a)
print(b)
a.difference(b)

{1, 2, 3, 4, 5, 6}
{4, 5, 6, 7, 8, 9}

{1, 2, 3}

In [67]:
b.difference(a)

{7, 8, 9}

In [68]:
print(a)
print(b)
a.symmetric_difference(b)

{1, 2, 3, 4, 5, 6}
{4, 5, 6, 7, 8, 9}

{1, 2, 3, 7, 8, 9}

### Tuples

In [69]:
t = 12345, 54321, 'hello!'
t

(12345, 54321, 'hello!')

In [70]:
t =( 12345, 54321, 'hello!') # same thing
t

(12345, 54321, 'hello!')

In [71]:
u = t, (1, 2, 3, 4, 5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [72]:
t

(12345, 54321, 'hello!')

In [76]:
u[2]

IndexError: tuple index out of range

In [77]:
t[0]=21 # you can not reassign

TypeError: 'tuple' object does not support item assignment

In [78]:
v = ([1, 2, 3], [3, 2, 1])

In [79]:
v[0]=21

TypeError: 'tuple' object does not support item assignment

In [80]:
print(v)
v[0][0]=21
print(v)

([1, 2, 3], [3, 2, 1])
([21, 2, 3], [3, 2, 1])

### Writing your own Classes:

*Note :* you can safely skip this portion if you feel overwhelmed at any point in it. We'll not be using this in the course for quite some time.

In [87]:
# we start with keyword class and then give our class a name

class Point(object):

    def __init__(self, x, y):
        '''Defines x and y variables'''
        self.X = x
        self.Y = y

        # self is used as reference to internal objects that get 
        # created using values supplied from outside 
        # default function _init_ is used to create internal objects
        # which can be accessed by other functions in the class

    def length(self):
        return(math.sqrt(self.X**2+self.Y**2))
    
    # all function inside a class will have access to internal objects 
    # created inside the class
    # you can understand self to be default Point class object
    
    def distance(self, other):
        dx = self.X - other.X
        dy = self.Y - other.Y
        return(math.sqrt(dx**2 + dy**2))
    
    # a function inside the class can take input multiple objects
    # of the same class

In [88]:
z=Point(2,3)
y=Point(4,10)

In [83]:
type(y)

__main__.Point

In [84]:
type(z)

__main__.Point

In [85]:
print(z.X)
print(z.Y)

2
3

you can apply function on and between objects of this class Point by using syntax *clas_name.function* . example given below

In [89]:
print(Point.distance(y,z))
print(Point.length(y))
print(Point.length(z))

7.280109889280518
10.770329614269007
3.605551275463989

We'll conclude our discussion here. In the next module we'll look at some packages in python which enable us to do data sepcific task and brings us closer to be able to start doing machine learning tasks in python.

Prepared By : Lalit Sachan (lalit.sachan@edvancer.in)

In case of any doubts or errata alert; please take to QA forum for discussion. 

Doubts will be discussed in live class sessions too. [This doesnt apply for self paced students]